.message-history{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
   
}
.operator-message{
    flex-direction: row-reverse;
}

.client-message{
    flex-direction: row-reverse;
}

.message{
    padding: 1rem;
    width: fit-content;
    max-width: 40%;
    border: 1px solid rgb(12, 137, 232);
    border-radius: 0.25rem;
}